* {
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

body {
    background-color: #E4E0E1;
    height: 100vh;
}

#navbar {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    z-index: 2000;
}

.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #928071;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    padding: 10px 20px;

}

.nav-links ul li a.active {
    color: #5c190a;
    /* font-weight: bold; */
    border-bottom: solid 2px #5c190a;
}

.nav-links ul li a.active:hover {
    color: #812814;
    border-bottom: solid 2px #812814;

}

.nav-links ul li a:hover {
    color: #a78f79;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background-color: #5c190a;
    border-radius: 3px;
}

@media (max-width: 768px) {

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 25px;
        background: white;
        width: 200px;
        padding: 20px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 20px;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.show {
        display: block;
    }

    .stats-container {
        flex-direction: column;
        gap: 30px;
    }

    .layout-container {
        grid-template-columns: 1fr;
    }

    .map-section iframe {
        height: 400px;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-column {
        width: 100%;
        min-width: unset;
    }
}